flow/template/flow.json
[{"id":"720b100d3d5f56f8","type":"tab","label":"Flow Manager","disabled":false,"info":"","env":[]},{"id":"305913d90cea44d5","type":"tab","label":"Teachers Flows Manager","disabled":false,"info":"","env":[]},{"id":"c87be7c6b459b35e","type":"tab","label":"Fitbit Data flow","disabled":false,"info":"","env":[]},{"id":"ee3dfb251b8e9302","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"164809fc5ff45477","type":"subflow","name":"Get Fitbit Profile","info":"","category":"","in":[{"x":0,"y":80,"wires":[]}],"out":[{"x":860,"y":80,"wires":[]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"6c1f15b3214ccfa2","type":"subflow","name":"Wemo Subflow","info":"","category":"","in":[{"x":140,"y":100,"wires":[{"id":"b001d489.d8f818"}]}],"out":[{"x":1000,"y":500,"wires":[]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"1ff90e6321a03a3c","type":"subflow","name":"2","info":"","category":"","in":[{"x":340,"y":160,"wires":[{"id":"b04eb0b37d7e0128"}]}],"out":[{"x":880,"y":380,"wires":[{"id":"9b4139d31b6b3e50","port":0},{"id":"9ebe6acebd7cbda0","port":0}]}],"env":[{"name":"TEACHER_ID","type":"str","value":"2"}],"meta":{},"color":"#DDAA99"},{"id":"5bf9214a874bb643","type":"subflow","name":"Appel Watch Subflow","info":"","category":"","in":[{"x":300,"y":140,"wires":[]}],"out":[{"x":860,"y":440,"wires":[{"id":"a1db25354a12de91","port":0},{"id":"f3b33c7912dad180","port":0}]}],"env":[{"name":"TEACHER_ID","type":"str","value":"3"}],"meta":{},"color":"#DDAA99"},{"id":"e8db8278.17248","type":"subflow","name":"Customized process","category":"","in":[{"x":70,"y":70,"wires":[{"id":"b92b5d90.46d4a"}]}],"out":[{"x":350,"y":70,"wires":[{"id":"b92b5d90.46d4a","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"35b5f00ae59ad2ba","type":"group","z":"6c1f15b3214ccfa2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c9f9dcf02da780e6","06406bd1c8d20140","e104d0c62e536385","e95c6faa.ab2e1","b001d489.d8f818"],"x":434,"y":39,"w":452,"h":322},{"id":"713d71bd788e9ec7","type":"group","z":"6c1f15b3214ccfa2","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3817be8f598f58e8","08e9614773c2b767","6467a526798c4606","3df7091622639f87","ac77d0cff9766d4c"],"x":434,"y":419,"w":352,"h":302},{"id":"c78d5b2d6a9f6e00","type":"group","z":"1ff90e6321a03a3c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["492afa18bc8f7824","41795b6cbffe6a90","b04eb0b37d7e0128"],"x":434,"y":59},{"id":"e1fd7e44ca5cad7d","type":"group","z":"1ff90e6321a03a3c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["95e57b8790f64fec","9b4139d31b6b3e50","add8cf8c7d7b1991","9ebe6acebd7cbda0"],"x":434,"y":339},{"id":"89a65c0d8e23a65f","type":"group","z":"305913d90cea44d5","name":"","style":{"label":true},"nodes":["a0a05d3f9524b771","5ffbeee5247fbd5f","2df4645b50e78323","82d8c43a8db518f3"],"x":394,"y":159,"w":232,"h":302},{"id":"21c6b7067673390e","type":"group","z":"5bf9214a874bb643","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d359a125e28c0d46","faed3f3115a8b7ae","2e18099aac9df08c","b48f871b67638065","6624be9a531f0b5b"],"x":394,"y":39,"w":452,"h":302},{"id":"53b85d0963266699","type":"group","z":"5bf9214a874bb643","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f3b33c7912dad180","a1a84878c89c4501","89c755313d3019be","a1db25354a12de91"],"x":394,"y":399,"w":372,"h":202},{"id":"e62e1a4a9642b684","type":"apple-find-me-account","name":"Apple Account","timezone":"Canada/Eastern","timeformat":"YYYY-MM-DD HH:mm:ss","timeout":"5"},{"id":"ea2b7e9ceba3bcf4","type":"wemo-dev","device":"M1CAB133D11054","name":"Concordia"},{"id":"5ae44c60f868e6ad","type":"function","z":"164809fc5ff45477","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[[]]},{"id":"c9f9dcf02da780e6","type":"change","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Wemo State Boolean Conversion","rules":[{"t":"change","p":"payload.state","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"},{"t":"change","p":"payload.state","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["06406bd1c8d20140"]]},{"id":"06406bd1c8d20140","type":"function","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.payload.state === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["3817be8f598f58e8"]]},{"id":"51750f3ffe2e9f0a","type":"comment","z":"6c1f15b3214ccfa2","name":"Subflow for WEMO device ","info":"","x":1050,"y":80,"wires":[]},{"id":"3817be8f598f58e8","type":"template","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":520,"y":460,"wires":[[]]},{"id":"e104d0c62e536385","type":"comment","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":660,"y":80,"wires":[]},{"id":"08e9614773c2b767","type":"comment","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":600,"y":680,"wires":[]},{"id":"6467a526798c4606","type":"catch","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","scope":null,"uncaught":false,"x":520,"y":520,"wires":[["3df7091622639f87"]]},{"id":"3df7091622639f87","type":"template","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"\"\n}","output":"json","x":700,"y":520,"wires":[[]]},{"id":"e95c6faa.ab2e1","type":"http request","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://127.0.0.1:5000/wemo?name={{{query}}}","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":710,"y":180,"wires":[["c9f9dcf02da780e6"]]},{"id":"b001d489.d8f818","type":"change","z":"6c1f15b3214ccfa2","g":"35b5f00ae59ad2ba","name":"","rules":[{"t":"set","p":"name","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[["e95c6faa.ab2e1"]]},{"id":"ac77d0cff9766d4c","type":"status","z":"6c1f15b3214ccfa2","g":"713d71bd788e9ec7","name":"","scope":null,"x":520,"y":580,"wires":[[]]},{"id":"492afa18bc8f7824","type":"function","z":"1ff90e6321a03a3c","g":"c78d5b2d6a9f6e00","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.payload.data.presence === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["9b4139d31b6b3e50"]]},{"id":"41795b6cbffe6a90","type":"comment","z":"1ff90e6321a03a3c","g":"c78d5b2d6a9f6e00","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":660,"y":100,"wires":[]},{"id":"95e57b8790f64fec","type":"comment","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":600,"y":500,"wires":[]},{"id":"b04eb0b37d7e0128","type":"subflow:164809fc5ff45477","z":"1ff90e6321a03a3c","g":"c78d5b2d6a9f6e00","name":"Get Fitbit Profile","x":540,"y":160,"wires":[["492afa18bc8f7824"]]},{"id":"5aef5866a1065395","type":"comment","z":"1ff90e6321a03a3c","name":"Subflow for Teacher 2","info":"","x":1040,"y":80,"wires":[]},{"id":"9b4139d31b6b3e50","type":"template","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":540,"y":380,"wires":[[]]},{"id":"add8cf8c7d7b1991","type":"catch","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"","scope":null,"uncaught":false,"x":540,"y":440,"wires":[["9ebe6acebd7cbda0"]]},{"id":"9ebe6acebd7cbda0","type":"template","z":"1ff90e6321a03a3c","g":"e1fd7e44ca5cad7d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"{{env.TEACHER_ID}}\": \"\"\n}","output":"json","x":720,"y":440,"wires":[[]]},{"id":"785dfce9de776177","type":"comment","z":"5bf9214a874bb643","name":"Subflow for Teacher 3","info":"","x":1000,"y":60,"wires":[]},{"id":"d359a125e28c0d46","type":"function","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Decision","func":"const msgBkp = msg;\ntry {\n    if (msg.location.inarea === true) {\n        msg.payload.final = 1;\n    } else {\n        msg.payload.final = 0;\n    }\n    return msg;\n} catch (e) {\n    console.log(\"ERROR IN FLOW OF TEACHER \" + env.get(\"TEACHER_ID\") + \": \" + e);\n    return msgBkp;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["f3b33c7912dad180"]]},{"id":"faed3f3115a8b7ae","type":"comment","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Your logic : Please write output in **msg.payload.final**","info":"","x":620,"y":80,"wires":[]},{"id":"f3b33c7912dad180","type":"template","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"{{payload.final}}\"\n}","output":"json","x":500,"y":440,"wires":[[]]},{"id":"a1a84878c89c4501","type":"comment","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"Format Ouput : Please don't modify","info":"If msg.payload.final is not set,\nthen a default value \"\" will be set.","x":560,"y":560,"wires":[]},{"id":"89c755313d3019be","type":"catch","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"","scope":null,"uncaught":false,"x":500,"y":500,"wires":[["a1db25354a12de91"]]},{"id":"a1db25354a12de91","type":"template","z":"5bf9214a874bb643","g":"53b85d0963266699","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"{{env.TEACHER_ID}}\": \"\"\n}","output":"json","x":680,"y":500,"wires":[[]]},{"id":"b48f871b67638065","type":"change","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Set geo coordinates","rules":[{"t":"set","p":"location.lat","pt":"msg","to":"payload[\"Apple Watch\"][0].locationInfo.latitude","tot":"msg","dc":true},{"t":"set","p":"location.lon","pt":"msg","to":"payload[\"Apple Watch\"][0].locationInfo.longitude","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["6624be9a531f0b5b"]]},{"id":"9cfc172267061499","type":"subflow:164809fc5ff45477","z":"5bf9214a874bb643","name":"","x":140,"y":240,"wires":[[]]},{"id":"2e18099aac9df08c","type":"apple-find-me-with-payload","z":"5bf9214a874bb643","g":"21c6b7067673390e","account":"e62e1a4a9642b684","name":"","geoAPI":"OSM","distanceInMeter":150,"geoApiKey":"","places":[],"x":520,"y":140,"wires":[["b48f871b67638065"]]},{"id":"6624be9a531f0b5b","type":"geofence","z":"5bf9214a874bb643","g":"21c6b7067673390e","name":"Geo Filter","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":45.496906240945314,"longitude":-73.58035795390606},{"latitude":45.49586466231433,"longitude":-73.58148984611034},{"latitude":45.49542130401223,"longitude":-73.57966527342796},{"latitude":45.496158313294096,"longitude":-73.57874259352684}],"centre":{},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":740,"y":220,"wires":[["d359a125e28c0d46"]]},{"id":"b92b5d90.46d4a","type":"function","z":"e8db8278.17248","name":"FOO","func":"msg.payload = \"return from FOO\";\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":71,"wires":[[]]},{"id":"ce7cd611.318328","type":"debug","z":"720b100d3d5f56f8","name":"","active":true,"console":"false","complete":"false","x":970,"y":420,"wires":[]},{"id":"bf9f1d0f.4060e","type":"inject","z":"720b100d3d5f56f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"input string","payloadType":"string","x":469,"y":421,"wires":[[]]},{"id":"fc0f4ef8.03f0b","type":"debug","z":"720b100d3d5f56f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":240,"wires":[]},{"id":"c0a5856.f3f5a78","type":"inject","z":"720b100d3d5f56f8","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":240,"wires":[[]]},{"id":"8e637cb1.719c8","type":"debug","z":"720b100d3d5f56f8","name":"","active":true,"console":"false","complete":"false","x":973,"y":348,"wires":[]},{"id":"2efaf19b.d1050e","type":"subflow:e8db8278.17248","z":"720b100d3d5f56f8","x":655,"y":495,"wires":[[]]},{"id":"48a2e97fd9ad6190","type":"comment","z":"720b100d3d5f56f8","name":"","info":"","x":220,"y":120,"wires":[]},{"id":"76e4293a25284339","type":"http request","z":"720b100d3d5f56f8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":530,"y":60,"wires":[[]]},{"id":"a0a05d3f9524b771","type":"subflow:6c1f15b3214ccfa2","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teacher 1","x":480,"y":260,"wires":[[]]},{"id":"5ffbeee5247fbd5f","type":"subflow:1ff90e6321a03a3c","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teacher 2","x":480,"y":340,"wires":[["fec93a6da5f11e43"]]},{"id":"8e6d7669c09cdfa4","type":"http in","z":"305913d90cea44d5","name":"","url":"/currentStates","method":"post","upload":false,"swaggerDoc":"","x":210,"y":260,"wires":[["5ffbeee5247fbd5f","82d8c43a8db518f3"]]},{"id":"95b1b3cf97b4604a","type":"comment","z":"305913d90cea44d5","name":"Teachers Flows Manager","info":"","x":190,"y":140,"wires":[]},{"id":"2df4645b50e78323","type":"comment","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teachers Subflows","info":"","x":510,"y":200,"wires":[]},{"id":"1f2a9a66bc09140f","type":"http response","z":"305913d90cea44d5","name":"currentStates Response","statusCode":"200","headers":{},"x":1090,"y":260,"wires":[]},{"id":"fec93a6da5f11e43","type":"join","z":"305913d90cea44d5","name":"Join Teachers Status","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":800,"y":260,"wires":[["8feff64e4b1b39c0","1f2a9a66bc09140f"]]},{"id":"8feff64e4b1b39c0","type":"debug","z":"305913d90cea44d5","name":"All status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":180,"wires":[]},{"id":"1c36b52c2077f67c","type":"catch","z":"305913d90cea44d5","name":"","scope":null,"uncaught":false,"x":140,"y":540,"wires":[["b25b53b3ba773013"]]},{"id":"b25b53b3ba773013","type":"debug","z":"305913d90cea44d5","name":"Decision Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":540,"wires":[]},{"id":"82d8c43a8db518f3","type":"subflow:5bf9214a874bb643","z":"305913d90cea44d5","g":"89a65c0d8e23a65f","name":"Teacher 3","x":480,"y":420,"wires":[["fec93a6da5f11e43"]]},{"id":"c04d8b9781e004d6","type":"http in","z":"c87be7c6b459b35e","name":"[POST] Input data from fitbit watch","url":"/fitbit","method":"post","upload":false,"swaggerDoc":"","x":200,"y":240,"wires":[["3acb87346ff4d10e","9b7c68573b02a5ad"]]},{"id":"b63cecd3b75f765b","type":"switch","z":"c87be7c6b459b35e","name":"If there is last fitbit data in db","property":"payload.data","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":440,"wires":[["1fe3d29ccc4d9b7f"],["dda4374879c8ce7e"]]},{"id":"dda4374879c8ce7e","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"{\"status\":\"\",\"location\":{\"latitude\":\"\",\"longitude\":\"\"},\"presence\":false,\"acceleration\":{\"x\":\"\",\"y\":\"\",\"z\":\"\"},\"lastSyncTime\":\"\",\"heartRate\":\"\",\"batteryLevel\":\"\",\"charge\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":480,"wires":[["0476adc552bb2e77"]]},{"id":"0476adc552bb2e77","type":"function","z":"c87be7c6b459b35e","name":"Fitbit Data Aggregation","func":"let input = msg.payload.input;\nlet data = msg.payload.data;\n\nif (input.hasOwnProperty(\"status\")) {\n    data.status = input.status;\n} else if (input.hasOwnProperty(\"location\")) {\n    data.location.latitude = input.location.latitude;\n    data.location.longitude = input.location.longitude;\n} else if (input.hasOwnProperty(\"presence\")) {\n    data.presence = input.presence;\n} else if (input.hasOwnProperty(\"acceleration\")) {\n    data.acceleration.x = input.acceleration.x;\n    data.acceleration.y = input.acceleration.y;\n    data.acceleration.z = input.acceleration.z;\n} else if (input.hasOwnProperty(\"lastSyncTime\")) {\n    data.lastSyncTime = input.lastSyncTime;\n} else if (input.hasOwnProperty(\"heartRate\")) {\n    data.heartRate = input.heartRate;\n} else if (input.hasOwnProperty(\"batteryLevel\")) {\n    data.batteryLevel = input.batteryLevel;\n} else if (input.hasOwnProperty(\"charge\")) {\n    data.charge = input.charge;\n}\n\ndata.timestamp = msg.payload.time;\nmsg.payload.data = data; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":440,"wires":[["10baa245ae461ebd"]]},{"id":"b34621dc4b69d4a6","type":"catch","z":"c87be7c6b459b35e","name":"","scope":null,"uncaught":false,"x":120,"y":680,"wires":[["1e0df8e2d9470702"]]},{"id":"1e0df8e2d9470702","type":"debug","z":"c87be7c6b459b35e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":680,"wires":[]},{"id":"10baa245ae461ebd","type":"function","z":"c87be7c6b459b35e","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1510,"y":440,"wires":[[]]},{"id":"2880384ff2b336ad","type":"template","z":"c87be7c6b459b35e","name":"Build response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"received\": \"true\"\n}","output":"json","x":1220,"y":560,"wires":[["874c7ef898d450b8","5f76368392df4382"]]},{"id":"5f76368392df4382","type":"http response","z":"c87be7c6b459b35e","name":"Response to fitbit data","statusCode":"200","headers":{},"x":1540,"y":560,"wires":[]},{"id":"3acb87346ff4d10e","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.input","pt":"msg","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":340,"wires":[[]]},{"id":"e9a4b93bc3922fe4","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.lastFitbitInputDate","pt":"msg","to":"payload.data","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":340,"wires":[["5219eec111e70ade"]]},{"id":"350f0a4b355822aa","type":"change","z":"c87be7c6b459b35e","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":440,"wires":[["b63cecd3b75f765b"]]},{"id":"874c7ef898d450b8","type":"debug","z":"c87be7c6b459b35e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":620,"wires":[]},{"id":"1fe3d29ccc4d9b7f","type":"function","z":"c87be7c6b459b35e","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.lastFitbitInputDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":420,"wires":[[]]},{"id":"5219eec111e70ade","type":"function","z":"c87be7c6b459b35e","name":"Build db key","func":"msg.payload.key = \"fitbit-\" + msg.payload.lastFitbitInputDate;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":340,"wires":[[]]},{"id":"9b7c68573b02a5ad","type":"debug","z":"c87be7c6b459b35e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":240,"wires":[]},{"id":"af175e6530d12142","type":"http in","z":"c87be7c6b459b35e","name":"","url":"/fitbit","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["26108d0bf9b19e40"]]},{"id":"26108d0bf9b19e40","type":"template","z":"c87be7c6b459b35e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\n    \"msg\": \"OK\"\n}","output":"json","x":340,"y":160,"wires":[["7b5d2fed366c62b1"]]},{"id":"7b5d2fed366c62b1","type":"http response","z":"c87be7c6b459b35e","name":"","statusCode":"","headers":{},"x":510,"y":160,"wires":[]},{"id":"f4568fae882128d3","type":"subflow:6c1f15b3214ccfa2","z":"ee3dfb251b8e9302","name":"","env":[{"name":"TEACHER_ID","value":"","type":"str"}],"x":520,"y":280,"wires":[[]]},{"id":"637d3c55.eb3084","type":"inject","z":"ee3dfb251b8e9302","name":"query parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Concordia","payloadType":"str","x":260,"y":300,"wires":[["f4568fae882128d3"]]}]